<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transportation/country/show">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transportation/city/show">Cities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transportation/cityarea/show">City Areas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transportation/station/show">Stations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transportation/type/show">Transportation Types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transportation/vehicle/show">Vehicles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transportation/route/show">Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transportation/routestation/show">Route stations</a>
        </li>
      </ul>
      <select id="ormSelect" name="ormSelect">
        <option value="Sequelize">Sequelize</option>
        <option value="Bookshelf">Bookshelf</option>
        <option value="TypeORM">TypeORM</option>
        <option value="Knex">Knex</option>
        <option value="Objection">Objection</option>
        <option value="Prisma">Prisma</option>
      </select>
    </div>
  </nav>