.container-fluid{
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

input:read-only { 
    color:black !important;
}

#message{
    display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .dataTables_info{
    color: green !important;
}
