<div class="modal" id="createCityModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create city</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="createCityX">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="GET" action="/transportation/city/create" id="createCityForm">
            <fieldset>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="population">Population</label>
                <input type="text" class="form-control" id="population" name="population"  placeholder="Population">
              </div>
              <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="population" name="size"  placeholder="Size">
              </div>
              <div class="form-group">
                <label for="countrySelect">Country</label>
                <select class="form-control" id="countrySelect" name="countrySelect">
                </select>
              </div>
              </fieldset>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="createCityButton">Create</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="createCityClose">Close</button>
        </div>
      </div>
    </div>
  </div>